<!DOCTYPE html>
<html lang='en'>
   <head>
     <title>Todo list</title>
     <meta charset='utf-8'>
     <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
   <body>
    <div class="container">
       <!-- Page Content goes here -->
       <div class="row">
         <div class="col s12 m6">
           <div class="card #d500f9 teal lighten-4">
             <div class="card-content black-text">
              <% if(error !== null){ %>
              <div class='row teal lighthen-4'>
                <div class='col s12'>
                  <p class='center-align'>
                      <%= error %></p>
                </div>
              </div>
              <% } %>
              <span class="card-title">ToDo list</span>
              <div class="row">
                <form class="col s12" method="post" action="/edit-task">
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder='Task' id="task" type='text' name="task" value="<%= task.task %>"> 
                      <input id='taskId' type='hidden' name='taskId' value="<%= task.id %>">
                    </div>
                  </div>
                     <input class='btn' type='submit' value='Save Task'>
                     <a class='btn' href='/'>Cancel</a>
                  </form>
                </div>  
             </div>
           </div>
         </div>
       </div>            
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </body>
</html>