<!DOCTYPE html>
<html lang="en">
  <head>
    <title>todo list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
          <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content">
                <% if(error !== null){ %>
                  <div class="row teal lighten-4">
                    <div class="col s12">
                      <p class="center-align"><%= error %></p>
                    </div>
                  </div>
                  <% } %>
                  <span class="card-title">ToDo List</span>
   <div class="row">
    <form class="col s12" method="post" action="/">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Task" id="task" type="text" name="task">
          <label for="task">Insert Task</label>
        </div>
      </div>
      <input class="btn" type="submit" value="Add Task">
    </form>
  </div>
              </div>
              <div class="card-action">
    <ul class="collection">
      <% tasks.forEach((task) => { %>
                  <li class="collection-item">
                    <%= task.task %>
                    <a href="delete-task/<%= task.id %>" class="secondary-content"><i class="material-icons">delete</i></a>
                    <a href="edit-task/<%= task.id %>" class="secondary-content"><i class="material-icons">edit</i></a>
                  </li>
                <% }) %>
              </ul>
              <form method="post" action="/clear-all">
                <input class="btn" type="submit" value="Clear all">
    </form>
              </div>
            </div>
        </div>
      </div>
      </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>